:root {
    --background: #eaeaea;
    --primary: #581845;
    --text: #000000;
    --text-secondary: #5F5F5F;
}

/* Bg color */
body {
    background-color: var(--background);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amarante", serif;
    color: var(--primary);
    font-weight: 400;
    text-align: center;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
}

body {
    font-family: "Crimson Text", serif;
}

/* Elements */
li {
    list-style: none;
}

img {
    max-width: none;
}

/* Header */
.site-header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo {
    width: clamp(120px, 10vw, 180px);
}

/* Navigation */
.movie-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav-btn {
    padding: clamp(0.3rem, 2vw, .5rem) clamp(1rem, 5vw, 3rem);
    border: 2px solid var(--primary);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-btn.active {
    background-color: var(--primary);
    color: var(--background);
}

/* Movies */
.poster-scroll {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.movie-card {
    scroll-snap-align: center;
}

.movie-poster {
    width: clamp(250px, 10vw, 300px);
}

.movie-director,
.movie-year {
    text-align: center;
}

.movie-director {
    font-size: clamp(1.13rem, 5vw, 1.25rem);
}

.movie-year {
    font-size: clamp(1rem, 5vw, 1.13rem);
    color: var(--text-secondary);
}